@model IEnumerable<RRHHCapucasCoffe.Models.Remuneraciones.Remuneracion>

@{
    ViewData["Title"] = "Remuneración";
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title mx-3 mt-2 py-0">Remuneraciones</h5>
        <div class="d-flex" id="container-buttons">
            <div class="p-1 flex-fill">
                <div class="d-flex d-flex justify-content-end dt-buttons">
                    <button type="submit" class="d-flex align-items-center btn btn-outline-primary mx-1" onclick="location.href='@Url.Action("CrearRemuneracion", "Remuneraciones")'" title="Agregar">
                        <span>
                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <div class="table-responsive">
            <table class="table dataTable" id="datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Remuneracion</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var remuneracion in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="EditarRemuneracion" asp-route-remuneracionId="@remuneracion.RemuneracionId">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger" asp-action="EliminarRemuneracion" asp-route-remuneracionId="@remuneracion.RemuneracionId">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>
                                @remuneracion.RemuneracionDescripcion
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" checked="@remuneracion.RemuneracionActiva" disabled />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>