@model IEnumerable<RRHHCapucasCoffe.Models.Cargos.Cargo>
@{
    ViewData["Title"] = "Cargos";
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title mx-3 mt-2 py-0">Cargos</h5>
        <div class="d-flex" id="container-buttons">
            <div class="p-1 flex-fill">
                <div class="d-flex d-flex justify-content-end dt-buttons">
                    <button type="submit" class="d-flex align-items-center btn btn-outline-primary mx-1" onclick="location.href='@Url.Action("CrearCargo", "Cargos")'" title="Agregar">
                        <span>
                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <div class="table-responsive">
            <table class="table dataTable" id="datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cargo</th>
                        <th>Activo</th>
                        <th>Usuario Grabo</th>
                        <th>Fecha Grabo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cargo in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="EditarCargo" asp-route-cargoId="@cargo.CargoId" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger" asp-action="EliminarCargo" asp-route-cargoId="@cargo.CargoId" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>
                                @cargo.CargoNombre
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" disabled checked="@cargo.CargoActivo">
                                </div>
                            </td>
                            <td>
                                @cargo.CUsuarioGrabo
                            </td>
                            <td>
                                @cargo.CargoFechaGrabo
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
