@model IEnumerable<RRHHCapucasCoffe.Models.Deducciones.DeduccionViewModel>

@{
    ViewData["Title"] = "Deducciones";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mx-3 mt-2 py-0">Deducciones</h5>
        <div class="d-flex" id="container-buttons">
            <div class="p-1 flex-fill">
                <div class="d-flex d-flex justify-content-end dt-buttons">
                    <button type="submit" class="d-flex align-items-center btn btn-outline-primary mx-1" onclick="location.href='@Url.Action("CrearDeduccion", "Deducciones")'" title="Agregar">
                        <span>
                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body mt-3">
        <div class="table-responsive">
            <table class="table dataTable" id="datatable">
                <thead>
                    <tr>
                        <th class="no-export"></th>
                        <th>Deduccion</th>
                        <th>Aplicación</th>
                        <th>Tipo Cobro</th>
                        <th class="no-export">Activo</th>
                        <th>Usuario Grabo</th>
                        <th>Fecha Grabo</th>
                        <th>Usuario Modifico</th>
                        <th>Fecha Modifico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="no-export">
                                <div class="d-flex">
                                    <a class="btn btn-outline-primary me-1" asp-action="EditarBanco" asp-route-deduccionId="@item.DeduccionId" title="Editar">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" title="Eliminar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                @item.DeduccionDescripcion
                            </td>
                            <td>
                                @item.DAplicacion
                            </td>
                            <td>
                                @item.DTipoCobro
                            </td>
                            <td class="no-export">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" disabled checked="@item.DeduccionActiva">
                                </div>
                            </td>
                            <td>
                                @item.DUsuarioGrabo
                            </td>
                            <td>
                                @item.DeduccionFechaGrabo
                            </td>
                            <td>
                                @item.DUsuarioModifico
                            </td>
                            <td>
                                @item.DeduccionFechaModifico
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/table.js" asp-append-version="true"></script>
}