@model IEnumerable<RRHHCapucasCoffe.Models.Unidades.Unidad>
@{
    ViewData["Title"] = "Unidad";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mx-3 mt-2 py-0">Unidades</h5>
        <div class="d-flex" id="container-buttons">
            <div class="p-1 flex-fill">
                <div class="d-flex d-flex justify-content-end dt-buttons">
                    <button type="submit" class="d-flex align-items-center btn btn-outline-primary mx-1" onclick="location.href='@Url.Action("CrearUnidad", "Unidades")'" title="Agregar">
                        <span>
                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <div class="table-responsive">
            <table class="table dataTable" id="datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Unidad</th>
                        <th>Activo</th>
                        <th>Usuario Grabo</th>
                        <th>Fecha Grabo</th>
                        <th>Usuario Editó</th>
                        <th>Fecha Editó</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var unidad in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="EditarUnidad" asp-route-unidadId="@unidad.UnidadId" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger" asp-action="EliminarUnidad" asp-route-unidadId="@unidad.UnidadId" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>
                                @unidad.UnidadDescripcion
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" disabled checked="@unidad.UnidadActiva">
                                </div>
                            </td>
                            <td>
                                @unidad.UsuarioGrabo
                            </td>
                            <td>
                                @unidad.UnidadFechaGrabo
                            </td>
                            <td>
                                @unidad.UsuarioModifico
                            </td>
                            <td>
                                @unidad.UnidadFechaModifico
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>