@model IEnumerable<RRHHCapucasCoffe.Models.Bancos.Banco>
@{
    ViewData["Title"] = "Bancos";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Bancos</h5>
        <div class="d-flex justify-content-between">
            <div class="datatable-search d-inline">
                <input class="datatable-input" placeholder="buscar..." type="search" title="BuscarTabla" />
            </div>
            <div class="d-flex ">
                <button type="submit" class="d-flex align-items-center btn btn-outline-primary" onclick="location.href='@Url.Action("CrearBanco", "Bancos")'" title="Agregar">
                    <i class="bi bi-file-plus"></i>
                    <span class="mx-1 d-none d-md-block">Agregar</span>
                </button>
                <button type="button" class="mx-1 d-flex align-items-center btn btn-outline-primary" title="Exportar a Excel">
                    <i class="bi bi-file-pdf"></i>
                    <span class="mx-1 d-none d-md-block ">PDF</span>
                </button>
                <button type="button" class="d-flex align-items-center btn btn-outline-primary" title="Exportar a PDF">
                    <i class="bi bi-file-excel"></i>
                    <span class="mx-1 d-none d-md-block">Excel</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body ">

        <div class="table-responsive">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Banco</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Usuario Grabo</th>
                        <th scope="col">Fecha Grabo</th>
                        <th scope="col">Usuario Modifico</th>
                        <th scope="col">Fecha Modifico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var banco in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="EditarBanco" asp-route-bancoId="@banco.BancoId" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger" asp-action="EliminarBanco" asp-route-bancoId="@banco.BancoId" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>
                                @banco.BancoNombre
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" disabled checked="@banco.BancoActivo">
                                </div>
                            </td>
                            <td>
                                @banco.BUsuarioGrabo
                            </td>
                            <td>
                                @banco.BancoFechaGrabo
                            </td>
                            <td>
                                @banco.BUsuarioModifico
                            </td>
                            <td>
                                @banco.BancoFechaModifico
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
